.weather-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 245, 241);
  color: black;
  border-radius: 0.5rem;
  padding: 1rem;
}

.details {
  display: flex;
  justify-content: space-between;
}


#left {
  display: flex
}

#weather-code {
  font-size: 3rem;
}

#weather-description {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#weather-temperature {
  font-size: 3rem;
}

#right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.forecast {
  height: 350px;
}

.week {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.day-details {
  margin: 10px 0px 0px;
  flex: 1;
  height: 150px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uncurrent-day:hover {
  cursor: pointer;
}

.current-day {
  background-color: #d2d2d2;
}

.day {

}

.icon {
  flex: 1;
  font-size: 3rem;
}

.temperature {

}

@media screen and (max-width: 520px) {
  .week {
    overflow-x: scroll;
  }

  .details {
    flex-direction: column;
  }

  #right {
    text-align: left;
  }

  #weather-description {
    text-align: right;
  }
}