.weather-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  justify-content: space-between;
}

#left {
  display: flex
}

#weather-code {
  font-size: 3rem;
}

#weather-description {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#weather-temperature {
  font-size: 3rem;
}

#right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.forecast {
  flex-grow: 1;
}

.week {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.day-details {
  margin: 10px 0px;
  flex: 1;
  height: 150px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.day {

}

.icon {
  flex: 1;
}

.temperature {

}