.container {
  min-height: 100vh;
  border-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unselectable {
  user-select: none;
}

.app-title {
  font-size: 6rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
  }

  .app-title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
