* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /* border: 1px solid; */
  /* border-color: #f1f1f1; */
}

#content {
  display: flex;
  justify-content: center;
}

body {
  background-color: #242424;
  color: #f1f1f1;
}